PORT=1005
PYTHON_API_URL=http://localhost:1001
ALLOWED_ORIGINS=http://localhost:1005,http://localhost:3000,http://localhost:3001,https://login.ezwealth.in
CMS_PROFILE_URL=https://cms.ezwealth.in/api/auth-client/profile
CMS_UPDATE_PROFILE_URL=https://cms.ezwealth.in/api/clients/update-client-profile
